<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Food Blog</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body >
		
		<div class="row">
			<aside id="leftside"></aside>
			<aside id="rightside"></aside>
			<!-- Food Blog -->
			<div id="container" class="container-xl">
				<div id="component1">
					<div class="jumbotron jumbotron-fluid">
						<div class="container">
						<h1 class="display-4 d-flex align-items-start">Foodie Heaven</h1>
						<p class="lead"><em>People who love to eat are always the best people.</em></p>
						</div>
					</div>
					<mycomponent1></mycomponent1>
	
				</div>
				<main>
					<!-- Food Img -->
					<aside id="photos">
						<img class="img-fluid"
							:src= 'src'
							:alt= 'alt'
						/>
					</aside>
					<!-- COMMENTS TITLE -->
					<div id="component2">
						<mycomponent2></mycomponent2>
					</div>
					<!-- BlogPosts-->
					<section id="blogposts" >
						<div v-bind:style='styleObj' v-show='overlay'></div>
						<div class="overflow-auto">
							<div class="post" v-for="post in posts" >
							<img :src= "'/images/profile.png'" @click= 'displayInfo(posts,post)' title='default pic'/>
							<span class="author">{{post.author}}</span> —
							<span class="date">{{post.date}}</span>
							<span class="reply">{{post.reply}}</span><br><br>
							<p>{{post.text}}</p>
							</div>	
						</div>

						<!-- Infobox -->
						<div id="infoBox" class="box" v-for="post in posts" v-show='post.isShowing'>
							<div>
								<button v-on:click="displayInfo(posts,post)" class="close justify-content-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
								<p>{{post.author}}</p>
								<p>Foodie level: {{post.level}}</p>
								<p>Bio: {{post.bio}}</p>
								<div class="close" >

	
							</div>
	
						</div>
					</section>
				</main>
				<div>
	
		</div>
				<footer>&copy; Copyright FOOD BLOG</footer>
			</div>
		<!--Scripts-->
		<script src="vue.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>	
	</body>
</html>
